# Token bot dari Discord Developer Portal -> Bot -> Reset Token
DISCORD_TOKEN=isi_token_bot_disini

# Application (Client) ID dari Discord Developer Portal -> General Information
CLIENT_ID=isi_client_id_disini
